@import '../../stylesheet/variable.scss';
@import '../../stylesheet//mixin.scss';

.login{
    background: $login-background;
    height: 100vh;
    @include flexCenter;

    &-container{
        width: calc(100% - 34%);
        background-color: $white;
        height: calc(100vh - 12vh);
        border-radius: 0.5rem;
        @include flexCenter;
    }

    &-wrap{
        width: 75%;
        display: flex;
        justify-content: space-between;
    }

    &-user-image{
        width: 35%;
        img{
            width: 100%;
        }
    }

    &-form{
        width: 45%;
    }

    &-signup {
        color: $blue-color;
        margin-top: 0.5rem;
        text-align: end;
    }

    .loader {
        width: 10%;
    }
}