$login-background: linear-gradient(-135deg,#c850c0,#4158d0);
$violet-color: #9053c7;
$white: #fff;
$white-01:#ffffffa1;
$gray-color:#e6e6e6;
$blue-color: blue;
$black-color:#000;
$green-color: green;
$red-color: red;
$pinkish-grey:#B8B0B0;
